.container
  .genre-show
    .genre-show__siblings
      -Genre.all.each do |g|
        =link_to genre_path(g), class:"genre-show__siblings__link" do
          =g.genre
        \/
    -@genre.restaurants.each do |r|
      = render partial:"shared/restaurant", locals: { r: r }