.container
  .index_recipe
    .index_recipe__title
      New Recipes
      =link_to search_recipes_path,class:"index_recipe__title__link" do
        more
        =fa_icon 'angle-double-right'
    .index_recipe__box
      -@recipes.each do |r|
        =link_to recipe_path(r),class:"recipe-card-link index-card" do
          .recipe-card
            =image_tag "#{r.images.first.url}", alt:r.name, class:"recipe-card__image"
            .recipe-card__name
              =r.name.truncate(24)
  .index_restaurant
    .index_restaurant__title
      New Reviews
      =link_to restaurants_path,class:"index_restaurant__title__link" do
        more
        =fa_icon 'angle-double-right'
    .index_restaurant__box
      -@restaurants.each do |r|
        =link_to restaurant_path(r),class:"recipe-card-link index-card"  do
          .restaurant-card
            =image_tag "#{r.photos.first.url}", alt:r.name, class:"restaurant-card__image"
            .restaurant-card__name
              =r.name.truncate(24)

