.menu-btn#menu-btn
  = fa_icon 'bars', class: 'icons'
%label.safari-menu-btn#menu-btn{for:"menu-safari"}
  = fa_icon 'bars', class: 'icons'
.menu#modal-menu
%input{type:"checkbox",class:"hidden",id:"menu-safari"}
%ul.menu__bar#modal-menu-bar
  %li.menu__bar__box#menu-back
    <
  %label.menu__bar__box.safari{for:"menu-safari"}
    ＜
  =link_to root_path do
    %li.menu__bar__box
      TOP PAGE
  %li.menu__bar__box#user-menu
    USER
  -if user_signed_in?
    =link_to user_path(current_user) do
      %li.menu__bar__box.user-hidden-menu
        MY PAGE
    =link_to destroy_user_session_path, method: :delete do
      %li.menu__bar__box.user-hidden-menu
        LOG OUT
  -else
    =link_to new_user_registration_path, class:"user-link" do
      %li.menu__bar__box.user-hidden-menu
        SIGN UP
    =link_to new_user_session_path, class:"user-link" do
      %li.menu__bar__box.user-hidden-menu
        LOG IN
  %li.menu__bar__box#recipe-menu
    RECIPES
  -if user_signed_in?
    =link_to new_recipe_path do
      %li.menu__bar__box.recipe-hidden-menu
        POST RECIPE
  =link_to search_recipes_path do
    %li.menu__bar__box.recipe-hidden-menu
      SEARCH RECIPES
  %li.menu__bar__box.recipe-hidden-menu#menu-category
    CATEGORY
  %li.menu__bar__box.recipe-hidden-menu#menu-ingredient
    INGREDIENT
  %li.menu__bar__box#restaurant-menu
    RESTAURANTS
  -if user_signed_in?
    =link_to new_restaurant_path do
      %li.menu__bar__box.restaurant-hidden-menu
        POST REVIEW
  =link_to restaurants_path do
    %li.menu__bar__box.restaurant-hidden-menu
      ALL REVIEWS
  %li.menu__bar__box.restaurant-hidden-menu#menu-genre
    GENRE
  -if user_signed_in?
    %li.menu__bar__box#chat-menu
      CHAT
    %li.menu__bar__box.chat-hidden-menu#menu-new-chat
      NEW CHAT
    =link_to messages_path do
      %li.menu__bar__box.chat-hidden-menu
        ALL CHAT
#dark-background
#category-list
  .category__all
    .category__all__title
      Category
    -@categories.each do |c|
      =link_to category_path(c.id), class:"category__all__parent" do
        =c.name
#ingredient-list
  .ingredient__all
    .ingredient__all__title
      Ingredient
    -@ingredients.each do |i|
      .ingredient__all__parent{"data-id":"#{i.id}"}
        =i.name
  .ingredient__child
#genre-list
  .genre__all
    .genre__all__title
      Genre
    -@genres.each do |g|
      =link_to genre_path(g.id), class:"genre__all__parent" do
        =g.genre
-if user_signed_in?
  #chat-list
    .chat__all
      .chat__all__text
        Please choose your friend who you would like to talk to.
        %br
        %br
        You can only invite friends who follow each other.
      =form_for(Chat.new) do |f|
        .chat__all__name
          Name:
        =f.text_field :name
        .chat__all__name
          Member:
        %input{type:"text", id:"friend-search"}
        #friend_result
        #append_field
        =f.hidden_field :user,id:"current_user_id", value:current_user.id ,name:"chat[chat_members_attributes][][user_id]"
        =f.submit 'CREATE', id:"chat-create"
