=link_to restaurant_path(r) do
  .restaurants__box
    .restaurants__box__left
      =image_tag "#{r.photos.first.url}",alt:r.name, class:"restaurants__box__left__photo"
    .restaurants__box__right
      .restaurants__box__right__name
        =r.name
      .restaurants__box__right__review
        -r.review.times do
          =fa_icon 'apple', class:"icon-apple-red"
        -(10- r.review).times do
          =fa_icon 'apple', class:"icon-apple-grey"
      .restaurants__box__right__text
        =simple_format(r.text)
      .restaurants__box__right__time
        =r.created_at.to_s(:datetime)
        \/ By
        =r.user.name