.container
  .ingredient
    .ingredient__siblings
      -@ingredient.siblings.each do |s|
        =link_to ingredient_path(s.id), class:"ingredient__siblings__link" do
          =s.name
        \/
    .ingredient__recipes
      .ingredient__recipes__box
        -@ingredient.recipes.each do |r|  
          = render partial:"shared/recipe", locals: { r: r }