.detail-modal
  .detail-modal__container
    .detail-modal__container__close
      ×
    .detail-modal__container__box
      %span.detail_title
        Name:
      =hash[0][:name][:name]
    .detail-modal__container__box
      %span.detail_title
        PR:
      -if hash[0][:sales_points][:pr_long].present?
        =simple_format("#{hash[0][:sales_points][:pr_long]}")
      -elsif hash[0][:sales_points][:pr_short].present?
        =simple_format("#{hash[0][:sales_points][:pr_short]}")
    .detail-modal__container__box
      %span.detail_title 
        Business Hours:
      =simple_format(hash[0][:business_hour])
    .detail-modal__container__box
      %span.detail_title 
        Holiday:
      =hash[0][:holiday]
    .detail-modal__container__box
      %span.detail_title
        Website:
      =link_to "#{hash[0][:url]}",target:"_blank" do
        =hash[0][:url]
    .detail-modal__container__box
      %span.detail_title
        Tel:
      =hash[0][:contacts][:tel]
    .detail-modal__container__box
      %span.detail_title 
        Address:
      =hash[0][:contacts][:address]
    .detail-modal__container__box
      %span.detail_title
        Access:
      =hash[0][:access]
    .detail-modal__container__box
      %span.detail_title
        Budget:
      ¥
      =hash[0][:budget].to_s(:delimited)
    .detail-modal__container__box
      %span.detail_title
        Category:
      -hash[0][:categories][:category_name_s].each do |c|
        =c
        \/
    .gurunavi
      =link_to "https://api.gnavi.co.jp/api/scope/", target:"_blank" do
        =image_tag "https://api.gnavi.co.jp/api/img/credit/api_180_60.gif",alt:"グルメ情報検索サイト　ぐるなび",style:"width:180px; height:60px; border:0;"