.detail-modal
  .detail-modal__container
    .detail-modal__container__close
      ×
    .detail-modal__container__box
      %span.detail_title
        Name:
      =hash[:name][:name]
    .detail-modal__container__box
      %span.detail_title
        PR:
      =simple_format(hash[:sales_points][:pr_long])
    .detail-modal__container__box
      %span.detail_title 
        Business Hours:
      =simple_format(hash[:business_hour])
    .detail-modal__container__box
      %span.detail_title 
        Holiday:
      =hash[:holiday]
    .detail-modal__container__box
      %span.detail_title
        Website:
      =link_to "#{hash[:url]}" do
        =hash[:url]
    .detail-modal__container__box
      %span.detail_title
        Tel:
      =hash[:contacts][:tel]
    .detail-modal__container__box
      %span.detail_title 
        Address:
      =hash[:contacts][:address]
    .detail-modal__container__box
      %span.detail_title
        Access:
      =hash[:access]
    .detail-modal__container__box
      %span.detail_title
        Budget:
      =hash[:budget]
    .detail-modal__container__box
      %span.detail_title
        Category:
      -hash[:categories][:category_name_s].each do |c|
        =c
        \/
    .gurunavi
      =link_to "https://api.gnavi.co.jp/api/scope/", target:"_blank"
        =image_tag "https://api.gnavi.co.jp/api/img/credit/api_180_60.gif",alt:"グルメ情報検索サイト　ぐるなび",style:"width:180px; height:60px; border:0;"