#background-edit
#chat-edit-container
  .chat__all
    .chat__all__text
      Please choose your friend who you would like to talk to.
      %br
      %br
      You can only invite friends who follow each other.
    =form_for chat, method: :patch do |f|
      .chat__all__name
        Name:
      =f.text_field :name,id:"chat_name", value:"#{chat.name}"
      .chat__all__name
        Member:
      %input{type:"text", id:"friend-search-edit"}
      #friend_result-edit
      #append_field-edit
        -chat.chat_members.each do |c|
          -unless c.user == current_user
            .member-box.existing_user{id:"chat-user-#{c.user.id}", "data-user":c.user.id}
              .member-box__delete-edit
                ×
              =c.user.name
              .edit_hidden_box
                %input{type:"checkbox", value:"1", name:"chat[chat_members_attributes][][_destroy]", class:"chat-member-checkbox"}
                %input{type:"hidden",value:c.id, name:"chat[chat_members_attributes][][id]" }
                %input{type:"hidden",name:"chat[chat_members_attributes][][user_id]",id:"user_ids_#{c.user.id}", value:c.user.id, class:"hidden-user-form"}
      =f.submit 'UPDATE', id:"chat-create"
      #chat-delete-btn
        DELETE
#background-edit-delete
#chat-edit-container-delete
  .chat-delete
    Are you sure that
    %br
    %br
    you would like to 
    %br
    %br
    delete this chatroom?
    .chat-delete__confirmation
      =link_to chat_path(chat), method: :delete, class:"chat-link" do
        YES
      .chat-delete__confirmation__cancel
        NO
