.guru-card{"data-id":"id"}
  .guru-card__left
    =image_tag "https://uds.gnst.jp/rest/img/rhuzy0660000/t_001r.jpg?g=80",class:"guru-card__left__box__image"
  .guru-card__center
    Name:
    name
    %br
    Location:
    prefcecture
    =link_to "/", target:"_blank",class:"guru-card__center__link" do
      URL:
      urlvbfeldkjvbefskjvsf
  .guru-card__right{"data-id":"id"}
    =fa_icon 'check-circle-o', class:"check-icon"

