.container
  .restaurants-new
    =form_for @restaurant, method: :patch do |f|
      .restaurants-new__main
        .restaurants-new__main__left
          .form-title
            Photo
          = f.fields_for :photo do |i|
            =i.label :url,for: nil,class:"photo-btn",required:"required" do
              Upload Photo
              =i.file_field :url, multiple: true, type: 'file', name:"restaurant[photos_attributes][][url]",id:"restaurant_url",required:"required"
          .restaurants-new__main__left__box
            -@restaurant.photos.each do |photo|
              .upload-photo
                =link_to '#', class:"upload-photo__delete", id:"photo-delete-edit","data-img":photo.id, "data-url":photo.url do
                  ×
                =image_tag "#{photo.url}",class:"upload-photo__image"
        .restaurants-new__main__right
          .form-title
            Name
          =f.text_field :name,class:"readonly",required:"required",readonly:"readonly"
          .form-title
            Location
          =f.text_field :location,class:"readonly",required:"required",readonly:"readonly"
          .form-title
            Price Range
          = f.collection_select :price_id, Price.all, :id, :name,{prompt:"---",required:"required"}
          .form-title
            Visited Time
          =f.text_field :visited_time,required:"required"
      .form-title
        Text
      =f.text_area :text,required:"required"
      .flex-box
        .form-title
          Vegan Friendly
          = f.collection_select :vegan_friendly_id, VeganFriendly.all, :id, :name,{prompt:"---",required:"required"}
        .form-title
          Review
          .restaurant__review
            -number=0
            -@restaurant.review.times do 
              -number+=1
              =fa_icon 'apple', class:"icon-apple", "data-id":number,style:"color:rgb(247, 48, 48);"
            - newNumber = 10 - number
            - n=0
            -newNumber.times do
              -n+=1
              =fa_icon 'apple', class:"icon-apple", "data-id":(n + number)
          =f.hidden_field :review,required:"required"
          =f.hidden_field :gurunavi_id
      =f.submit 'POST', class:"submit-btn"
      .gurunavi
        Supported by
        =link_to "https://api.gnavi.co.jp/api/scope/",target:"_blank" do
          ぐるなびWebService 