.container
  .restaurants-new
    =form_for @restaurant, method: :post do |f|
      .restaurants-new__main
        .restaurants-new__main__left
          .form-title
            Photo
          = f.fields_for :photos do |i|
            =i.label :url,for: nil,class:"photo-btn",required:"required" do
              Upload Photo
              =i.file_field :url, multiple: true, type: 'file', name:"restaurant[photos_attributes][][url]",id:"restaurant_url",required:"required"
            .restaurants-new__main__left__box
        .restaurants-new__main__right
          .form-title
            Name
          =f.text_field :name,class:"readonly",required:"required",readonly:"readonly"
          .form-title
            Location
          =f.text_field :location,class:"readonly",required:"required",readonly:"readonly"
          .form-title
            Price Range
          = f.collection_select :price_id, Price.all, :id, :name,{prompt:"---"}
          .form-title
            Visited Time
          =f.text_field :visited_time,required:"required"
      .form-title
        Text
      =f.text_area :text,required:"required"
      .flex-box
        .form-title
          Vegan Friendly
          = f.collection_select :vegan_friendly_id, VeganFriendly.all, :id, :name,{prompt:"---",required:"required"}
        .form-title
          Review
          .restaurant__review
            -10.times do |n|
              -n+=1
              =fa_icon 'apple', class:"icon-apple", "data-id":n
          =f.hidden_field :review,required:"required"
          =f.hidden_field :gurunavi_id
      =f.submit 'POST', class:"submit-btn"
    =form_with url: search_api_restaurants_path, method: :get, local: false,id:"g-serach_form" do |f|
      .guru-restautant-search
        Find a Restaurant
        =link_to "https://api.gnavi.co.jp/api/scope/", target:"_blank" do
          =image_tag "https://api.gnavi.co.jp/api/img/credit/api_155_20.gif",class:"guru-logo",alt:"グルメ情報検索サイト　ぐるなび",style:"width:155px; height:20px; border:0;"
      =f.text_field :name,placeholder:"type a name"
      =f.submit 'SEARCH', id:"restaurant-search-btn"
      #gurunavi-result