.container
  .restaurant-show
    .restaurant-show__name
      =@restaurant.name
    .restaurant-show__photo
      =image_tag "#{@restaurant.url}", class:"restaurant-photo"
    .restaurant-show__review
      .restaurant-show__review__name
        %span.restaurant-title
          Review :
      .restaurant-show__review__icons
        -@restaurant.review.times do
          =fa_icon 'apple', class:"icon-apple-red"
        -(10- @restaurant.review).times do
          =fa_icon 'apple', class:"icon-apple-grey"
    .restaurant-show__price
      .restaurant-show__price__lunch
        -if@restaurant.lunch_price
          %span.restaurant-title
            Lunch :
          =@restaurant.lunch_price.name
      .restaurant-show__price__dinner
        -if @restaurant.dinner_price
          %span.restaurant-title
            Dinner :
          =@restaurant.dinner_price.name
    .restaurant-show__text
      =simple_format(@restaurant.text)
      .restaurant-show__text__user
        by
        =link_to user_path(@restaurant.user) do
          =@restaurant.user.name
        \/
        =@restaurant.created_at.to_s(:datetime)
      -if @restaurant.user == current_user
        .restaurant-show__text__icons
          =link_to edit_restaurant_path(@restaurant), class:"restaurant-link" do
            =fa_icon "edit", class:"icon"
          =fa_icon "trash-o", class:"icon", id:"delete-icon"
    .restaurant-show__box
      .restaurant-show__box__visit
        -if @restaurant.visited_time
          %span.restaurant-title
            Visited at :
          =@restaurant.visited_time
      .restaurant-show__box__level
        %span.restaurant-title
          Vegan Friendly Level :
        -(5- @restaurant.vegan_friendly.id).times do
          =fa_icon 'apple', class:"icon-apple-red"
        -@restaurant.vegan_friendly.id.times do
          =fa_icon 'apple', class:"icon-apple-grey"
        #vf-level-modal
          #delete-btn ×
          .vf-level__box
            .vf-level__box__icons
              =fa_icon 'apple', class:"icon-apple-red"
              =fa_icon 'apple', class:"icon-apple-grey"
              =fa_icon 'apple', class:"icon-apple-grey"
              =fa_icon 'apple', class:"icon-apple-grey"
              =fa_icon 'apple', class:"icon-apple-grey"
            .vf-level__box__text
              Vegetarian-Friendly
          .vf-level__box
            .vf-level__box__icons
              =fa_icon 'apple', class:"icon-apple-red"
              =fa_icon 'apple', class:"icon-apple-red"
              =fa_icon 'apple', class:"icon-apple-grey"
              =fa_icon 'apple', class:"icon-apple-grey"
              =fa_icon 'apple', class:"icon-apple-grey"
            .vf-level__box__text
              Vegetarian (But Not Vegan-Friendly)
          .vf-level__box
            .vf-level__box__icons
              =fa_icon 'apple', class:"icon-apple-red"
              =fa_icon 'apple', class:"icon-apple-red"
              =fa_icon 'apple', class:"icon-apple-red"
              =fa_icon 'apple', class:"icon-apple-grey"
              =fa_icon 'apple', class:"icon-apple-grey"
            .vf-level__box__text
              Vegetarian
          .vf-level__box
            .vf-level__box__icons
              =fa_icon 'apple', class:"icon-apple-red"
              =fa_icon 'apple', class:"icon-apple-red"
              =fa_icon 'apple', class:"icon-apple-red"
              =fa_icon 'apple', class:"icon-apple-red"
              =fa_icon 'apple', class:"icon-apple-grey"
            .vf-level__box__text
              Vegan-friendly
          .vf-level__box
            .vf-level__box__icons
              =fa_icon 'apple', class:"icon-apple-red"
              =fa_icon 'apple', class:"icon-apple-red"
              =fa_icon 'apple', class:"icon-apple-red"
              =fa_icon 'apple', class:"icon-apple-red"
              =fa_icon 'apple', class:"icon-apple-red"
            .vf-level__box__text
              Vegan
    .restaurant-show__genres
      %span.restaurant-title
        Genre :
      %br
      -@restaurant.genres.each do |g|
        =link_to genre_path(g),class:"restaurant-show__genres__link" do
          =g.genre
        \/
    .restaurant-show__choice
      .restaurant-show__choice__box#detail-btn
        Restaurant Detail
      .restaurant-show__choice__box#comment-btn
        Comments
    .restaurant-show__detail
      -if (@restaurant.prefecture || @restaurant.address)
        .restaurant-show__detail__address
          %span.restaurant-title
            Address :
          =@restaurant.address
          \,
          =@restaurant.prefecture.name
      -if @restaurant.telephone
        .restaurant-show__detail__tel
          %span.restaurant-title
            Telephone :
          =@restaurant.telephone
      -if @restaurant.hp
        .restaurant-show__detail__website
          %span.restaurant-title
            Website :
          =link_to "#{@restaurant.hp}" do
            =@restaurant.hp
    .restaurant-show__comment
      -@restaurant.restaurant_comments.each do |c|
        .restaurant-show__comment__box
          .restaurant-show__comment__box__title
            =c.title
          .restaurant-show__comment__box__text
            =simple_format(c.text)
          .restaurant-show__comment__box__visit
            %span.review_title
              Visited at:
            =c.visited_time
          .restaurant-show__comment__box__review
            %span.review_title
              Review :
            -c.review.times do
              =fa_icon 'apple', class:"icon-apple-red"
            -(10- c.review).times do
              =fa_icon 'apple', class:"icon-apple-grey"
          .restaurant-show__comment__box__name
            written by
            =link_to user_path(c.user) do
              = c.user.name
      -if user_signed_in?
        .restaurant-show__comment__form-btn
          Comment Form
    -if user_signed_in?
      .restaurant-show__form
        =form_for [@restaurant, @restaurant_comment], method: :post do |f|
          %span.comment-title
            Title :
          =f.text_field :title,required:"required"
          %span.comment-title
            Text :
          =f.text_area :text,required:"required"
          .restaurant-show__form__box
            .restaurant-show__form__box__visit
              %span.comment-title
                Visited Time :
              =f.text_field :visited_time,required:"required"
            .restaurant-show__form__box__review
              %span.comment-title
                Review :
                .restaurant-show__form__box__review__icons
                  -n=0
                  -10.times do
                    -n+=1
                    =fa_icon 'apple', class:"icon-apple-review","data-id":n
          =f.hidden_field :review
          =f.submit 'COMMENT', id:"comment-btn"
.delete-modal
  .delete-modal__box
    Are you sure that
    %br
    %br
    you would like to 
    %br
    %br
    delete this review?
    .delete-modal__box__confirmation
      =link_to restaurant_path(@restaurant), method: :delete, class:"recipe-link" do
        YES
      .delete-modal__box__confirmation__cancel
        NO