.category,
.ingredient,
.user {
    width: 700px;
    &__siblings {
        background-color: $white;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;
        &__link {
            color: $darkgreen;
        }
        &__link:hover {
            text-decoration: underline;
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        &__button {
            padding: 10px 20px;
            margin-right: 30px;
            background-color: white;
            text-align: center;
            font-weight: bold;
            color: $darkgreen;
            border-radius: 4px;
            border: 1px solid $green;
            font-size: 20px;
            line-height: 20px;
            cursor: pointer;
        }
        &__button:hover {
            color: white;
            background-color: $darkgreen;
        }
        &__button:last-child {
            margin-right: 0;
        }
    }
    &__recipes {
        padding: 20px 0;
        width: 700px;
        &__box {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 12px 12px;
        }
    }
}

.recipe-card {
    position: relative;
    box-sizing: border-box;
    &__image {
        background-color: white;
        position: absolute;
        width: 99%;
        top: 99%;
        border: 2px white solid;
        border-radius: 5px;
        box-sizing: border-box;
    }
    &__image:hover {
        border: 2px solid $darkgreen;
    }
    &__name {
        padding: 5px;
        font-weight: bold;
        font-size: 20px;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.7);
        position: absolute;
        top: 10px;
        left: 10px;
        color: $darkgreen;
    }
}

.recipe-card:hover {
    opacity: 0.7;
}

#liked_recipes,
#commented_recipes {
    display: none;
}