.category,
.ingredient,
.user {
    width: 700px;
    &__siblings {
        background-color: $white;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;
        &__link {
            color: $darkgreen;
        }
        &__link:hover {
            text-decoration: underline;
        }
    }
    &__recipes {
        padding: 20px 0;
        width: 700px;
        &__box {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 12px 12px;
        }
    }
}

.recipe-card {
    position: relative;
    box-sizing: border-box;
    &__image {
        background-color: white;
        position: absolute;
        width: 99%;
        top: 99%;
        border: 2px white solid;
        border-radius: 5px;
        box-sizing: border-box;
    }
    &__image:hover {
        border: 2px solid $darkgreen;
    }
    &__name {
        padding: 5px;
        font-weight: bold;
        font-size: 20px;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.7);
        position: absolute;
        top: 10px;
        left: 10px;
        color: $darkgreen;
        max-width: 80%;
        word-break: break-all;
    }
}

.recipe-card:hover {
    opacity: 0.7;
}