    .categories-index {
        position: relative;
        padding: 30px;
        border-radius: 20px;
        background-color: $white;
        color: $darkgreen;
        font-weight: bold;
        overflow: scroll;
        height: 80vh;
    }