.category,
.ingredient,
.user {
    width: 700px;
    &__siblings {
        background-color: $white;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;
        &__link {
            color: $darkgreen;
        }
        &__link:hover {
            text-decoration: underline;
        }
    }
    &__recipes {
        padding: 20px 0;
        width: 700px;
        &__box {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 12px 12px;
        }
    }
}