.chat {
    display: flex;
    height: 100vh;
    width: 100vw;
    &__sidebar {
        color: $darkgreen;
        height: 100vh;
        width: 300px;
        background-color: rgba(20, 99, 25, 0.7);
        font-weight: bold;
        overflow: scroll;
        &__title {
            padding: 10px 10px 10px 100px;
            height: 100px;
            font-size: 25px;
            word-break: break-all;
            color: $white;
            line-height: 70px;
        }
        &__menu {
            display: flex;
            padding: 10px 0 10px 20px;
            .chat-link {
                display: block;
                color: $white;
                cursor: pointer;
                width: 100%;
            }
            &__name {
                font-size: 20px;
                margin-bottom: 10px;
            }
            &__message {
                font-size: 18px;
            }
            .edit-button {
                margin: 10px 20px 0 0;
                display: block;
                color: white;
                cursor: pointer;
                .edit-icon {
                    font-size: 20px;
                    &:hover {
                        color: $green;
                    }
                }
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.5);
                color: $darkgreen;
                .chat-link,
                .edit-button {
                    color: $darkgreen;
                }
            }
        }
    }
    &__main {
        width: calc(100vw - 300px);
        &__body {
            height: calc(100vh - 100px);
            margin-bottom: 100px;
            overflow: scroll;
            width: 100%;
            &__old-messages {
                width: 100%;
                padding: 40px 0;
                text-align: center;
                color: $darkgreen;
                font-size: 25px;
                background: linear-gradient(to bottom, rgba(1, 85, 12, 0.7), rgba(1, 85, 12, 0));
                &__btn {
                    width: auto;
                    display: inline-block;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                        color: white;
                    }
                }
            }
            &__message {
                padding: 10px 30px;
                &__box {
                    text-align: right;
                    &__detail {
                        margin-bottom: 10px;
                        font-size: 0;
                        text-align: right;
                        span.message-user-name {
                            text-align: left;
                            width: 140px;
                            display: inline-block;
                            font-size: 20px;
                            font-weight: bold;
                        }
                        span.message-time {
                            width: 200px;
                            display: inline-block;
                            font-size: 15px;
                            text-align: right;
                        }
                    }
                    &__detail.other-detail {
                        text-align: left;
                    }
                    &__text {
                        text-align: left;
                        min-width: 360px;
                        max-width: 600px;
                        word-break: break-all;
                        display: inline-block;
                        color: $darkgreen;
                        background-color: $white;
                        border: 1px solid $green;
                        padding: 20px;
                        border-radius: 10px;
                        &__image {
                            margin: 0 auto;
                            display: block;
                            max-height: 200px;
                            max-width: 200px;
                            padding-top: 10px;
                        }
                    }
                    &__text.other-text {
                        background-color: #fafafa;
                    }
                }
                .other-box {
                    text-align: left;
                }
            }
        }
        &__form {
            width: 100%;
            height: 100px;
            position: fixed;
            bottom: 0;
            background-color: $darkgreen;
            &__box {
                display: flex;
                padding: 20px 30px 25px;
                position: relative;
                &__text {
                    @include form();
                    padding-left: 40px;
                    width: 70%;
                    margin-left: 0;
                    margin-right: 10px;
                }
                &__image {
                    position: absolute;
                    top: 30px;
                    left: 35px;
                    .icon {
                        font-size: 25px;
                        color: $darkgreen;
                    }
                    .hidden {
                        display: none;
                    }
                }
                &__send {
                    @include btn();
                    width: 100px;
                }
            }
        }
    }
}

#chat-delete-btn {
    @include btn();
    width: 360px;
    margin: 20px auto;
    cursor: pointer;
    &:hover {
        color: white;
        background-color: rgb(231, 52, 52);
        border: none;
    }
}

#background-edit,
#background-edit-delete {
    @include dark-background();
    display: block;
    z-index: 10;
}

#background-edit-delete {
    display: none;
    z-index: 50;
}

#chat-edit-container {
    @include modal();
    display: block;
    text-align: center;
    padding: 30px;
    width: 600px;
    border-radius: 20px;
    z-index: 40;
    .chat__all {
        margin-top: 30px;
        &__text {
            font-size: 18px;
            margin-bottom: 25px;
        }
        &__name {
            margin: 0 auto;
            font-size: 20px;
            width: 360px;
            text-align: left;
        }
        #chat_name,
        #friend-search-edit {
            @include form();
            width: 360px;
            margin: 0 auto;
        }
        #chat-create {
            @include btn();
            width: 360px;
            margin: 0 auto;
        }
        #chat_name {
            margin-bottom: 20px;
        }
        #friend_result-edit {
            overflow: scroll;
            position: absolute;
            z-index: 10;
            display: none;
            width: 360px;
            height: 40vh;
            left: 0;
            right: 0;
            margin: 0 auto;
            background-color: #fafafa;
            .search_result_name-edit {
                text-align: left;
                padding: 10px;
                font-size: 17px;
                cursor: pointer;
                &:hover {
                    color: white;
                    background-color: $darkgreen;
                }
            }
            .error-message-chat {
                text-align: left;
                padding: 10px;
                font-size: 17px;
            }
        }
        #append_field-edit {
            min-height: 120px;
            margin-bottom: 20px;
            .member-box {
                border-bottom: 1px solid $darkgreen;
                position: relative;
                margin: 20px auto;
                font-size: 20px;
                height: 50px;
                width: 60%;
                line-height: 50px;
                text-align: right;
                &__delete,
                &__delete-edit {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    font-weight: bold;
                    margin: 10px 0 0 10px;
                    height: 25px;
                    width: 25px;
                    line-height: 25px;
                    border-radius: 50%;
                    text-align: center;
                    font-weight: bold;
                    color: $darkgreen;
                    background-color: rgba(255, 255, 255, 0.9);
                    cursor: pointer;
                }
            }
        }
    }
}

#chat-edit-container-delete {
    @include modal ();
    padding: 30px;
    width: 600px;
    border-radius: 20px;
    height: 45vh;
    z-index: 60;
    .chat-delete {
        width: 400px;
        margin: 30px auto 0;
        z-index: 100;
        border-radius: 20px;
        background-color: $white;
        color: $darkgreen;
        font-weight: bold;
        line-height: 20px;
        font-size: 20px;
        text-align: center;
        &__confirmation {
            margin: 100px auto 0;
            display: flex;
            justify-content: space-between;
            width: 60%;
            a.chat-link {
                display: block;
                color: $darkgreen;
                &:hover {
                    color: rgb(231, 52, 52);
                    text-decoration: underline;
                }
            }
            &__cancel:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}