body {}

.background {
    position: absolute;
    background-image: image-url('veg.jpg');
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
    z-index: -3000;
}

.menu-btn {
    position: absolute;
    font-size: 50px;
    top: 20px;
    left: 20px;
    color: $darkgreen;
    cursor: pointer;
    z-index: 2;
}

.menu {
    display: none;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.menu__bar {
    position: absolute;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: $darkgreen;
    overflow: scroll;
    font-weight: bold;
    z-index: 20;
    &__box {
        padding: 10px 0 10px 20px;
        color: $lightgreen;
        cursor: pointer;
    }
    &__box:hover {
        background-color: $lightgreen;
        color: $darkgreen;
    }
    .user-hidden-menu,
    .recipe-hidden-menu,
    .restaurant-hidden-menu,
    .chat-hidden-menu {
        display: none;
        background-color: rgb(32, 73, 42);
    }
    .user-hidden-menu:hover,
    .recipe-hidden-menu:hover,
    .restaurant-hidden-menu:hover,
    .chat-hidden-menu:hover {
        background-color: $lightgreen;
        color: $darkgreen;
    }
}

#dark-background {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 30;
}

#category-list,
#ingredient-list,
#genre-list,
#chat-list {
    display: none;
    position: absolute;
    top: 50px;
    left: 400px;
    padding: 30px;
    width: 600px;
    border-radius: 20px;
    background-color: $white;
    color: $darkgreen;
    font-weight: bold;
    overflow: scroll;
    height: 80vh;
    z-index: 40;
    .category__all,
    .genre__all {
        &__title {
            width: 100%;
            font-size: 30px;
            margin-bottom: 20px;
        }
        &__parent {
            display: inline-block;
            width: 45%;
            text-align: center;
            border-radius: 4px;
            background-color: white;
            margin-bottom: 10px;
            padding: 10px 0;
            font-size: 20px;
            line-height: 20px;
            cursor: pointer;
            color: $darkgreen;
        }
        &__parent:nth-child(even) {
            margin-right: 50px;
        }
        &__parent:hover {
            color: white;
            background-color: rgb(87, 152, 87);
        }
    }
}

#ingredient-list {
    .ingredient__all {
        width: 250px;
        &__title {
            width: 100%;
            font-size: 30px;
            margin-bottom: 20px;
        }
        &__parent {
            display: block;
            text-align: center;
            border-radius: 4px;
            background-color: white;
            margin-bottom: 10px;
            padding: 10px 0;
            font-size: 20px;
            line-height: 20px;
            cursor: pointer;
            color: $darkgreen;
        }
        &__parent:hover {
            color: white;
            background-color: rgb(87, 152, 87);
        }
    }
    .ingredient__child {
        position: fixed;
        display: none;
        margin-left: 300px;
        padding: 25px;
        height: 70vh;
        width: 250px;
        border-radius: 5px;
        background-color: rgb(168, 220, 168);
        overflow: scroll;
        &__list {
            display: block;
            width: 100%;
            text-align: center;
            border-radius: 4px;
            background-color: white;
            margin-bottom: 10px;
            padding: 10px 0;
            font-size: 20px;
            line-height: 20px;
            cursor: pointer;
            color: $darkgreen;
        }
        &__list:hover {
            color: white;
            background-color: rgb(87, 152, 87);
        }
    }
}

#chat-list {
    text-align: center;
    .chat__all {
        margin-top: 30px;
        &__text {
            font-size: 18px;
            margin-bottom: 25px;
        }
        &__name {
            margin: 0 auto;
            font-size: 20px;
            width: 360px;
            text-align: left;
        }
        #chat_name,
        #friend-search,
        #chat-create {
            color: $darkgreen;
            background-color: white;
            border-radius: 4px;
            padding: 10px 10px;
            font-size: 20px;
            line-height: 20px;
            border: 1px solid $green;
            display: block;
            width: 360px;
            margin: 0 auto;
            box-sizing: border-box;
            height: 45px;
        }
        #chat_name:focus,
        #friend-search:focus {
            border: 2px solid $darkgreen;
            box-sizing: border-box;
        }
        #chat-create:hover {
            color: white;
            background-color: $darkgreen;
        }
        #chat_name {
            margin-bottom: 20px;
        }
        #friend_result {
            left: 150px;
            position: absolute;
            z-index: 10;
            display: none;
            width: 360px;
            height: 50vh;
            background-color: #fafafa;
            .search_result_name {
                text-align: left;
                padding: 10px;
                font-size: 17px;
                cursor: pointer;
            }
            .search_result_name:hover {
                color: white;
                background-color: $darkgreen;
            }
        }
        #append_field {
            min-height: 300px;
            margin-bottom: 20px;
            .member-box {
                border-bottom: 1px solid $darkgreen;
                position: relative;
                margin: 20px auto;
                font-size: 20px;
                height: 50px;
                width: 60%;
                line-height: 50px;
                text-align: right;
                &__delete {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    font-weight: bold;
                    margin: 10px 0 0 10px;
                    height: 25px;
                    width: 25px;
                    line-height: 25px;
                    border-radius: 50%;
                    text-align: center;
                    font-weight: bold;
                    color: $darkgreen;
                    background-color: rgba(255, 255, 255, 0.9);
                    cursor: pointer;
                }
            }
        }
    }
}

.index_recipe,
.index_restaurant {
    padding: 20px;
    border-radius: 20px;
    background-color: $white;
    color: $darkgreen;
    font-weight: bold;
    margin-bottom: 30px;
    &__title {
        width: 100%;
        font-size: 25px;
        margin-bottom: 10px;
        position: relative;
        &__link {
            position: absolute;
            text-align: right;
            display: inline-block;
            font-size: 20px;
            color: $darkgreen;
            right: 0;
        }
        &__link:hover {
            text-decoration: underline;
        }
    }
    &__box {
        overflow: scroll;
        height: 200px;
        display: flex;
        &__card {
            margin-right: 20px;
            min-height: 200px;
            min-width: 200px;
            position: relative;
            background-color: white;
            box-sizing: border-box;
            &__image {
                max-height: 196px;
                max-width: 196px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto auto;
            }
            &__name {
                top: 5px;
                left: 5px;
                max-width: 150px;
                max-height: 30px;
                word-break: break-all;
                overflow: hidden;
                background-color: rgba(255, 255, 255, 0.7);
                position: absolute;
                padding: 10px;
                z-index: 2;
                color: $darkgreen;
                border-radius: 5px;
            }
        }
        &__card:hover {
            opacity: 0.7;
            border: 2px solid $darkgreen;
        }
    }
}