.restaurants-new {
    padding: 30px;
    border-radius: 20px;
    background-color: $white;
    color: $darkgreen;
    font-weight: bold;
    overflow: scroll;
    height: 80vh;
    &__main {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        &__left {
            width: 50%;
            margin-right: 20px;
            margin-bottom: 10px;
            height: 330px;
            &__box {
                height: 240px;
                box-sizing: border-box;
                border-radius: 4px;
                background-color: white;
                border: 1px solid $green;
                display: flex;
                overflow: scroll;
                width: 310px;
                .upload-photo {
                    background-color: #fafafa;
                    margin: 0 10px;
                    position: relative;
                    min-width: 240px;
                    min-height: 238px;
                    &__delete {
                        position: absolute;
                        display: block;
                        color: white;
                        top: 5px;
                        right: 5px;
                        height: 15px;
                        width: 15px;
                        background-color: rgb(172, 46, 46);
                        border-radius: 50%;
                        line-height: 15px;
                        text-align: center;
                        z-index: 5;
                        border: white solid 1px;
                    }
                    &__image {
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        margin: auto auto;
                        position: absolute;
                        max-width: 220px;
                        max-height: 220px;
                    }
                }
            }
        }
        &__right {
            width: 50%;
        }
    }
    input,
    textarea {
        color: $darkgreen;
        background-color: white;
        border-radius: 4px;
        padding: 10px 10px;
        font-size: 20px;
        line-height: 20px;
        border: 1px solid $green;
        display: block;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        box-sizing: border-box;
        &:focus {
            border: 2px solid $darkgreen;
        }
    }
    input {
        height: 45px;
    }
    input.readonly {
        background-color: $white;
        border: none;
        &:focus {
            border: none;
        }
    }
    textarea {
        height: 200px;
        font-size: 16px;
    }
    .submit-btn {
        width: 70%;
        margin: 20px auto 0;
        color: $darkgreen;
        border-radius: 4px;
        &:hover {
            color: white;
            background-color: $darkgreen;
            cursor: pointer;
        }
    }
    .form-title {
        width: 45%;
    }
}

#restaurant_price_id,
#restaurant_vegan_friendly_id,
.restaurant__review {
    color: $darkgreen;
    background-color: white;
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 17px;
    line-height: 20px;
    border: 1px solid $green;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    height: 45px;
    margin-top: 10px;
}

#restaurant_price_id {
    letter-spacing: 3px;
}

.restaurant__review {
    padding: 10px 20px;
    justify-content: space-between;
    display: flex;
    .icon-apple {
        display: block;
        color: grey;
        font-size: 20px;
        cursor: pointer;
    }
}

#restaurant_url {
    display: none;
}

.photo-btn {
    color: $darkgreen;
    background-color: white;
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 20px;
    line-height: 25px;
    border: 1px solid $green;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    height: 45px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    &:hover {
        color: white;
        background-color: $darkgreen;
    }
}

#new_restaurant {
    display: none;
}

#restaurant-search-btn {
    margin: 0 auto;
    width: 60%;
    &:hover {
        color: white;
        background-color: $darkgreen;
    }
}

#gurunavi-result {
    width: 100%;
    overflow: scroll;
}

.guru-restautant-search {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.guru-card {
    border-radius: 8px;
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    width: auto;
    display: flex;
    justify-content: space-between;
    &__left {
        margin-right: 20px;
    }
    &__center {
        width: 400px;
        line-height: 25px;
        overflow: hidden;
        &__link {
            color: $darkgreen;
            display: block;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__right {
        margin-left: 20px;
        color: $green;
        height: 80px;
        width: 60px;
        font-size: 60px;
        line-height: 80px;
        cursor: pointer;
        &:hover {
            color: $darkgreen;
        }
    }
}