.restaurant-show {
    position: relative;
    padding: 30px;
    border-radius: 20px;
    background-color: $white;
    color: $darkgreen;
    font-weight: bold;
    overflow: scroll;
    height: 80vh;
    &__name {
        border-radius: 8px;
        background: #fafafa;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        font-size: 30px;
        letter-spacing: 3px;
        word-break: break-all;
    }
    &__photo {
        position: relative;
        margin: 20px auto 0;
        height: 350px;
        width: 640px;
        border-radius: 8px;
        background: #fafafa;
        .restaurant-photo {
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            left: 0;
            margin: auto auto;
            max-width: 600px;
            max-height: 300px;
        }
    }
    &__review {
        border-radius: 8px;
        background: #fafafa;
        padding: 10px;
        font-size: 20px;
        margin: 10px 0;
        display: flex;
        &__name {
            margin-left: 20px;
            width: 200px;
        }
        .icon-apple-red {
            color: rgb(247, 48, 48);
        }
        .icon-apple {
            color: grey;
        }
    }
    &__price {
        width: auto;
        border-radius: 8px;
        background: #fafafa;
        padding: 10px 20px;
        font-size: 20px;
        margin-bottom: 10px;
        display: flex;
        letter-spacing: 1px;
        ;
        &__lunch {
            width: 100%;
        }
        &__dinner {
            width: 100%;
        }
    }
    &__text {
        width: auto;
        border-radius: 8px;
        background: #fafafa;
        margin-bottom: 10px;
        padding: 10px 20px;
        word-break: break-all;
        &__user {
            font-size: 16px;
            text-align: right;
            padding: 10px 10px;
            width: auto;
            a {
                color: $darkgreen;
            }
            a:hover {
                text-decoration: underline;
            }
        }
        &__icons {
            font-size: 20px;
            display: inline-block;
            width: 100%;
            text-align: right;
            .icon {
                display: inline-block;
                cursor: pointer;
            }
            .icon:hover {
                color: grey;
            }
            a.restaurant-link {
                color: $darkgreen;
                display: inline-block;
                margin-right: 20px;
            }
        }
    }
    &__box {
        display: flex;
        width: auto;
        border-radius: 8px;
        background: #fafafa;
        margin-bottom: 10px;
        padding: 10px 20px;
        font-size: 20px;
        &__visit {
            width: 50%;
            word-break: break-all;
        }
        &__level {
            width: 50%;
            cursor: pointer;
            display: relative;
        }
    }
    &__genres {
        border-radius: 8px;
        background: #fafafa;
        margin-bottom: 10px;
        padding: 10px 20px;
        font-size: 16px;
        &__link {
            color: $darkgreen;
        }
        &__link:hover {
            text-decoration: underline;
        }
    }
    &__choice {
        display: flex;
        width: auto;
        justify-content: space-between;
        margin-bottom: 10px;
        &__box {
            width: 40%;
            border-radius: 8px;
            background: #fafafa;
            margin-bottom: 10px;
            padding: 10px 20px;
            border: 1px solid $green;
            text-align: center;
            font-size: 20px;
            cursor: pointer;
        }
        &__box:hover {
            background-color: $darkgreen;
            color: white;
        }
    }
    &__detail {
        display: none;
        font-size: 18px;
        width: auto;
        border-radius: 8px;
        background: #fafafa;
        padding: 10px 20px;
        &__address {
            margin-bottom: 10px;
        }
        &__tel {
            margin-bottom: 10px;
        }
        &__website {
            margin-bottom: 10px;
            a {
                color: $darkgreen;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    &__comment {
        display: none;
        font-size: 16px;
        width: auto;
        border-radius: 8px;
        background: #fafafa;
        padding: 10px 20px;
        &__box {
            border-bottom: 1px dashed $darkgreen;
            padding: 10px 0;
            &__title {
                font-size: 18px;
                margin-bottom: 8px;
            }
            &__text {
                margin-bottom: 8px;
            }
            &__visit {
                margin-bottom: 8px;
            }
            &__review {
                width: 48%;
                margin-bottom: 8px;
                display: inline-block;
            }
            &__name {
                width: 48%;
                display: inline-block;
                text-align: right;
                a {
                    color: $darkgreen;
                    font-size: 18px;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
            span.review_title {
                color: rgb(86, 105, 86);
            }
        }
        &__form-btn {
            margin: 20px auto;
            width: 70%;
            background-color: white;
            text-align: center;
            color: $darkgreen;
            border-radius: 4px;
            border: 1px solid $green;
            padding: 10px 0;
            font-size: 20px;
            line-height: 20px;
            cursor: pointer;
        }
        &__form-btn:hover {
            color: white;
            background-color: $darkgreen;
        }
    }
    &__form {
        margin-top: 20px;
        display: none;
        font-size: 16px;
        width: auto;
        border-radius: 8px;
        background: #fafafa;
        padding: 10px 20px;
        &__box {
            display: flex;
            justify-content: space-between;
            &__visit {
                width: 100%;
            }
            &__review {
                margin-left: 20px;
                &__icons {
                    cursor: default;
                    width: 210px;
                    color: $darkgreen;
                    background-color: white;
                    border-radius: 4px;
                    padding: 10px 10px;
                    font-size: 20px;
                    line-height: 25px;
                    border: 1px solid $green;
                    margin: 10px 0;
                }
            }
        }
        input,
        textarea {
            color: $darkgreen;
            background-color: white;
            border-radius: 4px;
            padding: 10px 10px;
            font-size: 20px;
            line-height: 20px;
            border: 1px solid $green;
            display: block;
            width: 100%;
            margin-bottom: 10px;
            box-sizing: border-box;
            margin-top: 10px;
        }
        input {
            height: 45px;
        }
        textarea {
            height: 150px;
        }
        input:focus,
        textarea:focus {
            border: 2px solid $darkgreen;
            box-sizing: border-box;
        }
        #comment-btn {
            width: 70%;
            margin: 0 auto 20px;
            cursor: pointer;
        }
        #comment-btn:hover {
            background-color: $darkgreen;
            color: white;
        }
    }
    .icon-apple-red {
        color: rgb(247, 48, 48);
    }
    .icon-apple,
    .icon-apple-grey,
    .icon-apple-review {
        color: grey;
    }
    span.restaurant-title {
        color: rgb(86, 105, 86);
        font-size: 18px;
    }
    span.comment-title {
        color: $darkgreen;
        font-size: 18px;
    }
}

#vf-level-modal {
    margin-top: -100px;
    display: none;
    padding: 20px;
    position: absolute;
    background-color: #fafafa;
    border-radius: 10px;
    border: 1px solid $green;
    #delete-btn {
        float: right;
        cursor: pointer;
        font-size: 20px;
    }
    .vf-level__box {
        border-bottom: 1px dashed $green;
        &__icons {
            font-size: 18px;
            margin-top: 10px;
        }
        &__text {
            margin-top: 8px;
            font-size: 18px;
            padding-bottom: 5px;
        }
    }
}