.restaurants-new {
    padding: 30px;
    border-radius: 20px;
    background-color: $white;
    color: $darkgreen;
    font-weight: bold;
    overflow: scroll;
    height: 80vh;
    &__main {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        &__left {
            width: 50%;
            margin-right: 20px;
            margin-bottom: 10px;
            height: 330px;
            &__box {
                height: 240px;
                box-sizing: border-box;
                border-radius: 4px;
                background-color: white;
                border: 1px solid $green;
                .upload-photo {
                    position: relative;
                    width: 240px;
                    height: 240px;
                    &__delete {
                        position: absolute;
                    }
                    &__image {
                        position: absolute;
                        width: 240px;
                        height: 240px;
                    }
                }
            }
        }
        &__right {
            width: 50%;
        }
    }
    input,
    textarea {
        color: $darkgreen;
        background-color: white;
        border-radius: 4px;
        padding: 10px 10px;
        font-size: 20px;
        line-height: 20px;
        border: 1px solid $green;
        display: block;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        box-sizing: border-box;
        &:focus {
            border: 2px solid $darkgreen;
        }
    }
    input {
        height: 45px;
    }
    input.readonly {
        background-color: $white;
        border: none;
        &:focus {
            border: none;
        }
    }
    textarea {
        height: 200px;
        font-size: 16px;
    }
    .submit-btn {
        width: 70%;
        margin: 20px auto 0;
        color: $darkgreen;
        border-radius: 4px;
        &:hover {
            color: white;
            background-color: $darkgreen;
            cursor: pointer;
        }
    }
    .form-title {
        width: 45%;
    }
}

// #genre-modal {
//     display: none;
//     top: 0;
//     left: 0;
//     position: fixed;
//     width: 100vw;
//     height: 100vh;
//     background-color: rgba(0, 0, 0, 0.6);
//     z-index: 50;
//     padding-top: 80px;
//     .genre-list {
//         width: 700px;
//         margin: 0 auto;
//         z-index: 100;
//         padding: 30px;
//         border-radius: 20px;
//         background-color: $white;
//         color: $darkgreen;
//         font-weight: bold;
//         height: 80vh;
//         overflow: scroll;
//         &__select {
//             display: inline-block;
//             width: 45%;
//             text-align: center;
//             border-radius: 4px;
//             background-color: white;
//             margin-bottom: 10px;
//             padding: 10px 0;
//             font-size: 20px;
//             line-height: 20px;
//             cursor: pointer;
//             input {
//                 display: none;
//             }
//             &:nth-child(even) {
//                 margin-left: 60px;
//             }
//             &:hover {
//                 color: white;
//                 background-color: rgb(87, 152, 87);
//             }
//             &.checked {
//                 color: white;
//                 background-color: rgb(15, 53, 24);
//             }
//         }
//         .genre-selected {
//             display: block;
//             margin: 20px auto 0;
//             background-color: white;
//             text-align: center;
//             font-weight: bold;
//             color: $darkgreen;
//             border-radius: 4px;
//             width: 60%;
//             border: 1px solid $green;
//             padding: 10px 0;
//             font-size: 20px;
//             line-height: 20px;
//             cursor: pointer;
//             &:hover {
//                 color: white;
//                 background-color: $darkgreen;
//             }
//         }
//     }
// }
#restaurant_prefecture_id,
#restaurant_vegan_friendly_id,
.restaurant__review,
#restaurant_lunch_price_id,
#restaurant_dinner_price_id {
    color: $darkgreen;
    background-color: white;
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 17px;
    line-height: 20px;
    border: 1px solid $green;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    height: 45px;
    margin-top: 10px;
}

#restaurant_lunch_price_id,
#restaurant_dinner_price_id {
    letter-spacing: 3px;
}

.restaurant__review {
    padding: 10px 20px;
    justify-content: space-between;
    display: flex;
    .icon-apple {
        display: block;
        color: grey;
        font-size: 20px;
        cursor: pointer;
    }
}

.genre-btn {
    color: $darkgreen;
    background-color: white;
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 20px;
    line-height: 25px;
    border: 1px solid $green;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    height: 45px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    &:hover {
        color: white;
        background-color: $darkgreen;
    }
}

#restaurant_url {
    display: none;
}

.photo-btn {
    color: $darkgreen;
    background-color: white;
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 20px;
    line-height: 25px;
    border: 1px solid $green;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    height: 45px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    &:hover {
        color: white;
        background-color: $darkgreen;
    }
}

#new_restaurant {
    // display: none;
}

#restaurant-search-btn {
    margin: 0 auto;
    width: 60%;
    &:hover {
        color: white;
        background-color: $darkgreen;
    }
}

#gurunavi-result {
    width: 100%;
    overflow: scroll;
}

.guru-restautant-search {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.guru-card {
    border-radius: 8px;
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    width: auto;
    display: flex;
    justify-content: space-between;
    &__left {
        margin-right: 20px;
    }
    &__center {
        width: 100%;
        line-height: 25px;
        &__link {
            color: $darkgreen;
            overflow: hidden;
            display: block;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__right {
        margin-left: 20px;
        color: $green;
        height: 80px;
        width: 60px;
        font-size: 60px;
        line-height: 80px;
        cursor: pointer;
        &:hover {
            color: $darkgreen;
        }
    }
}