.sidebar {
    color: $darkgreen;
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: rgba(209, 255, 212, 0.7);
    z-index: 1;
    border-right: 2px solid $darkgreen;
    font-weight: bold;
    box-sizing: border-box;
    overflow: scroll;
    &__name {
        padding: 10px 10px 10px 100px;
        height: 70px;
        width: 190px;
        font-size: 25px;
        border-bottom: 2px dashed $darkgreen;
        vertical-align: center;
        word-break: break-all;
    }
    &__name.short {
        line-height: 70px;
    }
    &__menu {
        padding: 10px 0 10px 20px;
        color: $darkgreen;
        cursor: pointer;
    }
    &__menu:hover {
        color: $white;
        background-color: $darkgreen;
    }
    .hidden-user-recipe,
    .hidden-user-review {
        background-color: rgba(255, 255, 255, 0.4);
        display: none;
    }
    .hidden-user-recipe:hover,
    .hidden-user-review:hover {
        color: $white;
        background-color: $darkgreen;
    }
}

#dark-background-follow {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 30;
}

.follow-confirmation {
    display: none;
    position: absolute;
    top: 50px;
    left: 400px;
    padding: 40px;
    width: 500px;
    border-radius: 20px;
    background-color: $white;
    color: $darkgreen;
    font-weight: bold;
    overflow: scroll;
    height: 25vh;
    z-index: 40;
    text-align: center;
    font-size: 25px;
    #new_relationship,
    .edit_relationship {
        display: inline-block;
        font-weight: bold;
        width: 50%;
        margin-top: 70px;
        #follow-unfollow-btn {
            border: none;
            background-color: $white;
            font-weight: bold;
            color: $darkgreen;
            cursor: pointer;
        }
    }
    &__cancel {
        display: inline-block;
        width: 50%;
        margin-top: 70px;
        &__btn {
            cursor: pointer;
        }
    }
}