.container
  .category
    .category__siblings
      -@category.siblings.each do |s|
        =link_to category_path(s.id), class:"category__siblings__link" do
          =s.name
        \/
    .category__recipes
      .category__recipes__box
        -@category.recipes.each do |r|  
          = render partial:"shared/recipe", locals: { r: r }