@mixin modal() {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    background-color: $white;
    color: $darkgreen;
    font-weight: bold;
    overflow: scroll;
    height: 80vh;
}

@mixin dark-background() {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

@mixin btn() {
    &:hover {
        color: white;
        background-color: $darkgreen;
    }
}