@mixin modal() {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    background-color: $white;
    color: $darkgreen;
    font-weight: bold;
    overflow: scroll;
    height: 80vh;
}

@mixin dark-background() {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

@mixin form() {
    color: $darkgreen;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    line-height: 25px;
    border: 1px solid $green;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    height: 45px;
    &:focus {
        border: 2px solid $darkgreen;
    }
}

@mixin btn() {
    color: $darkgreen;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    line-height: 25px;
    border: 1px solid $darkgreen;
    display: block;
    box-sizing: border-box;
    height: 45px;
    cursor: pointer;
    &:hover {
        color: white;
        background-color: $darkgreen;
    }
}